html {
  margin: 0;
  background-color: #fff954; }

body {
  margin: 0;
  padding-top: 200px;
  text-align: center; }

header {
  position: fixed;
  width: 100vw;
  margin: 0; }

h1 {
  font-family: Monoton;
  font-size: 60px;
  margin: 0.2em;
  font-weight: lighter;
  color: #1e0840; }

h2 {
  margin: 1em 0 0.25em; }

h2:first-of-type {
  margin-top: 0.5em; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

table {
  position: absolute;
  top: 190px;
  border-collapse: collapse;
  margin: 0 auto;
  min-height: 600px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: 0px 0px 30px -10px #29270d;
          box-shadow: 0px 0px 30px -10px #29270d; }

table td {
  background-color: #fffeee;
  cursor: crosshair; }

input {
  background: none; }

input[type=number] {
  background-color: #eee;
  width: 8em;
  height: 40px;
  text-align: center; }

input[type=submit] {
  background-color: green;
  color: white;
  cursor: pointer;
  height: 46px;
  width: 100px;
  margin: 0px 10px;
  text-transform: uppercase; }

input[type=submit]:active {
  -webkit-box-shadow: inset 0px 0px 2px 1px #29270D;
          box-shadow: inset 0px 0px 2px 1px #29270D; }

input[type=submit]:focus {
  border: none; }

input[type=color] {
  border: none;
  width: 80px;
  height: 40px; }
