body {
    margin: 0;
    background-color: #ddd;
}

header {
    padding: 1em 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: yellow;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Monoton;
    font-size: 60px;
}

container.sizeSet {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: nowrap;
}

#sizePicker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h2 {
  height: 50px;
  text-align: center;
}

#pixelCanvas {
    border-collapse: collapse;
    background-color: #ccc;
    cursor: crosshair;
}

#pixelCanvas h2 {
    top: 250px;
    color: #fff;
}

#pixelCanvas > tr > td {
    border: 0.5px dashed #ddd;
}

input[type=number] {
    width: 6em;
    margin: 0.1em;
    text-align: center;
}

input[type=submit] {
    width: 16em;
    margin: 1em;
}

input[type=color] {
    margin-top: 1.5em;
    width: 13em;
    height: 40px;
    align-self: center;
}
