body {
	margin: 0;
	padding-top: 200px;
	text-align: center;
}

header {
	position: relative;
	margin: 0;
	top: -10px;
	background-color: white;
}

h1 {
	font-family: Monoton;
	font-size: 60px;
	margin: 0.2em;
	font-weight: lighter;
}

h2 {
	margin: 1em 0 0.25em;
}

h2:first-of-type {
	margin-top: 0.5em;
}

table td {
	border: 1px dotted #ccc;
	background-color: #eee;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	min-height: 600px;
}

tr {
	height: 20px;
}

td {
	width: 20px;
}

input[type=number] {
	width: 6em;
	margin: 10px;
}

input[type=color] {
	margin: 10px;
}
